<div class="latest-tweets">
    <div class="section-header">
        <h2>Latest Tweets</h2>
    </div>
    <div class="section-content">
        <div class="twitter-header clearfix">
            <div class="twitter-name">
                <a href="#">
                    <img src="{{ 'twitter-avatar.png' | asset_url }}" alt="image">
                    <strong>myticket.com</strong>
                    <span>@myticket</span>
                </a>
            </div>
            <div class="twitter-btn">
                <a href="#">Follow</a>
            </div>
        </div>
        <div class="tweet-list clearfix">
            <ul class="clearfix">
                <li class="row tweet-item">
                    <div class="col-sm-10">
                        <p><a href="#">@myticket</a> Lorem ipsum dolor sit amet, consecter adipiscing elit, sed diam nonummy nibh euismod dolore magna aliquam <a href="#">#EratVolutpat</a>.</p>
                    </div>
                    <div class="col-sm-2">
                        <span>17 min</span>
                    </div>
                </li>
                <li class="row tweet-item">
                    <div class="col-sm-10">
                        <p><a href="#">@myticket</a>Lorem ipsum dolor sit amet, consecter adipiscing elit, sed diam<a href="#">#EratVolutpat</a>.</p>
                    </div>
                    <div class="col-sm-2">
                        <span>18 min</span>
                    </div>
                </li>
                <li class="row tweet-item">
                    <div class="col-sm-10">
                        <p><a href="#">@myticket</a> Lorem ipsum dolor sit amet, consecter adipiscing elit, sed diam nonummy nibh euismod dolore magna aliquam <a href="#">#EratVolutpat</a>.</p>
                    </div>
                    <div class="col-sm-2">
                        <span>19 min</span>
                    </div>
                </li>
                <li class="row tweet-item">
                    <div class="col-sm-10">
                        <p><a href="#">@myticket</a>Lorem ipsum dolor sit amet, consecter adipiscing elit, sed diam<a href="#">#EratVolutpat</a>.</p>
                    </div>
                    <div class="col-sm-2">
                        <span>19 min</span>
                    </div>
                </li>
                <li class="row tweet-item">
                    <div class="col-sm-10">
                        <p><a href="#">@myticket</a> Lorem ipsum dolor sit amet, consecter adipiscing elit, sed diam nonummy nibh euismod dolore magna aliquam <a href="#">#EratVolutpat</a>.</p>
                    </div>
                    <div class="col-sm-2">
                        <span>20 min</span>
                    </div>
                </li>
                <li class="row tweet-item">
                    <div class="col-sm-10">
                        <p><a href="#">@myticket</a>Lorem ipsum dolor sit amet, consecter adipiscing elit, sed diam<a href="#">#EratVolutpat</a>.</p>
                    </div>
                    <div class="col-sm-2">
                        <span>22 min</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>