<div class="container">
    <div class="row">
        <div class="hero-content">
            {% assign heading_block = section.blocks | where: "type", "heading" | first %}
            {% if heading_block %}
                <h1 class="hero-title {{ heading_block.settings.heading_size }}">
                    {{ heading_block.settings.title }}
                </h1>
            {% endif %}

            {% assign subheading_block = section.blocks | where: "type", "subheading" | first %}
            {% if subheading_block %}
                <p class="hero-caption {{ subheading_block.settings.heading_size }}">
                    {{ subheading_block.settings.subtitle }}
                </p>
            {% endif %}
            <div class="hero-search">
                <input type="text" placeholder="Seach Artist, Team, or Venue">
            </div>
            <div class="hero-location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> San Francisco <a href="#">Change Location</a></p>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Hero banner",
  "tag": "section",
  "class": "hero-1",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_banner_1",
      "label": "Banner 1"
    },
    {
      "type": "image_picker",
      "id": "hero_banner_2",
      "label": "Banner 2"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Make Your Dream Come True",
          "label": "Title"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading Size",
          "options": [
            {
              "value": "h0",
              "label": "Large"
            },
            {
              "value": "h1",
              "label": "Medium"
            },
            {
              "value": "h2",
              "label": "Small"
            },
            {
              "value": "hxl",
              "label": "Extra large"
            },
            {
              "value": "hxxl",
              "label": "Extra extra large"
            }
          ]
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subtitle",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "subtitle",
          "default": "Meet your favorite artists, sport teams and parties",
          "label": "Subtitle"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading Size",
          "options": [
            {
              "value": "h0",
              "label": "Large"
            },
            {
              "value": "h1",
              "label": "Medium"
            },
            {
              "value": "h2",
              "label": "Small"
            },
            {
              "value": "hxl",
              "label": "Extra large"
            },
            {
              "value": "hxxl",
              "label": "Extra extra large"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}