<div class="container">
    <div class="row">
        <div class="hero-content">
            <h1 class="hero-title">Make Your Dream Come True</h1>
            <p class="hero-caption">Meet your favorite artists, sport teams and parties</p>
            <div class="hero-search">
                <input type="text" placeholder="Seach Artist, Team, or Venue">
            </div>
            <div class="hero-location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> San Francisco <a href="#">Change Location</a></p>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "hero-banner",
  "tag": "section",
  "class": "hero-1"
}
{% endschema %}