<div class="container">
    <div class="row">
        <div class="section-header">
            <h2>Recent Videos</h2>
        </div>
        <div class="section-content">
            <ul class="row clearfix">
                <li class="col-sm-3">
                    <div class="video">
                        <img src="{{ 'recent-video-1.jpg' | asset_url }}" alt="image">
                        <div class="video-player">
                            <a href="#"><i class="fa fa-play" aria-hidden="true"></i></a>
                            <span>2:33</span>
                        </div>
                    </div>
                    <h3 class="video-title">
                        <a href="#">Envato Author Community Fun Hiking at Semeru Mountaint</a>
                    </h3>
                </li>
                <li class="col-sm-3">
                    <div class="video">
                        <img src="{{ 'recent-video-2.jpg' | asset_url }}" alt="image">
                        <div class="video-player">
                            <a href="#"><i class="fa fa-play" aria-hidden="true"></i></a>
                            <span>2:33</span>
                        </div>
                    </div>
                    <h3 class="video-title">
                        <a href="#">Nike Urban Running Chalenge with Kobe 2016</a>
                    </h3>
                </li>
                <li class="col-sm-3">
                    <div class="video">
                        <img src="{{ 'recent-video-3.jpg'  | asset_url}}" alt="image">
                        <div class="video-player">
                            <a href="#"><i class="fa fa-play" aria-hidden="true"></i></a>
                            <span>2:33</span>
                        </div>
                    </div>
                    <h3 class="video-title">
                        <a href="#">Entrepreneurial Think Thank: Shifting the Education Paradigm</a>
                    </h3>
                </li>
                <li class="col-sm-3">
                    <div class="video">
                        <img src="{{ 'recent-video-4.jpg' | asset_url }}" alt="image">
                        <div class="video-player">
                            <a href="#"><i class="fa fa-play" aria-hidden="true"></i></a>
                            <span>2:33</span>
                        </div>
                    </div>
                    <h3 class="video-title">
                        <a href="#">Southeast Asia Weekend Festival 2016</a>
                    </h3>
                </li>
            </ul>
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Recent Videos",
  "tag": "section",
  "class": "section-recent-videos"
}
{% endschema %}