<style>
.section-stats {
    background: url({{ 'stats.jpg' | asset_url }}) no-repeat center center;
}
</style>
<div class="container">
    <div class="row">
        <div class="section-content">
            <ul class="row clearfix">
                <li class="col-sm-4">
                    <span class="count">598</span>
                    <hr>
                    <p>Events Active</p>
                </li>
                <li class="col-sm-4">
                    <span class="count">16,173</span>
                    <hr>
                    <p>Active User</p>
                </li>
                <li class="col-sm-4">
                    <span class="count">136,874</span>
                    <hr>
                    <p>Ticket Sold</p>
                </li>
            </ul>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Stats",
  "tag": "section",
  "class": "section-stats"
}
{% endschema %}
