<div class="container">
    <div class="row">
        <div class="section-header">
            <h2>Today's Schedule</h2>
            <span class="todays-date"><i class="fa fa-calendar" aria-hidden="true"></i> <strong>12</strong> August 2016 </span>
        </div>
        <div class="section-content">
            <ul class="clearfix">
                <li class="event-1">
                    <span class="event-time">08:00 <strong>AM</strong></span>
                    <strong class="event-name">Kiai Kanjeng Orchestra</strong>
                    <a href="#" class="get-ticket">Get Ticket</a>
                </li>
                <li class="event-2">
                    <span class="event-time">08:00 <strong>AM</strong></span>
                    <strong class="event-name">Envato Author Meetup</strong>
                    <a href="#" class="get-ticket">Get Ticket</a>
                </li>
                <li class="event-3">
                    <span class="event-time">10:00 <strong>AM</strong></span>
                    <strong class="event-name">BMW Open Championship</strong>
                    <a href="#" class="sold-ticket">Sold Out</a>
                </li>
                <li class="event-4">
                    <span class="event-time">09:00 <strong>PM</strong></span>
                    <strong class="event-name">UEFA Champions League: Barca v Arsenal</strong>
                    <a href="#" class="sold-ticket">Sold Out</a>
                </li>
            </ul>
            <strong class="event-list-label">Full Event <span>Schedules</span></strong>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Today Schedule",
  "tag": "section",
  "class": "section-todays-schedule"
}
{% endschema %}